*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"open-sans";
}

@font-face{
    font-family: "open-sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}
html,body{
	height:100%;

	
}

.containner{
	width:100%;
	max-width:1400px;
	margin:0 auto;
}

.clear{
	clear:both;
}

/** Header**/

header{
	width:100%;
	padding:20px 2%;
}

header .containner .logo{
	float:left;
}
header .containner .logo img{
	width:236px;
	float:left;
}

header .containner .menu-desktop{
	float:right;

}

header .containner .menu-desktop nav{
	width:inherit;
	float:right;
}

header .containner .menu-desktop nav ul{
	padding:8px 0;
	float:inherit;
	list-style-type:none;
}

header .containner .menu-desktop nav ul li{
	display:inline-block;
	padding:0 20px;
	font-size:13px;
	text-transform:uppercase;
}
header .containner .menu-desktop nav ul li a{
	text-decoration:none;
	color:#b4b4b4;
	font-weight:bold;
}
header .containner .menu-desktop nav ul li a:hover{
	text-decoration:none;
	color:lightblue;
	text-transform:uppercase;
	border-bottom:3px groove black;
	
}


header .containner .menu-mobile{
	display:none;
	width:28px;
	height:28px;
	float:right;
	background-image: url("../img/menu-mobile.png");
	background-size:100%;
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	transition:1s;

	
	
}
header .containner .menu-mobile:hover{
	margin-bottom:130px;
	
}

header .containner .menu-mobile nav ul{
	transition:0.9s;
	opacity:0;
}
header .containner .menu-mobile:hover nav ul{
	opacity:1;
	z-index:999;
	width:100%;
	position:absolute;
	left:0;
	top:50px;
	list-style-type:none;
	padding: 8px 0;
	text-align:center;
	background-color:rgba(255, 255, 255, 0.863);
	

}
header .containner .menu-mobile nav ul{
	z-index:999;
	width:100%;
	position:absolute;
	left:0;
	top:50px;
	list-style-type:none;
	padding: 8px 0;
	text-align:center;
	background-color:rgba(255, 255, 255, 0.863);
	

	
}
header .containner .menu-mobile nav ul:hover{
	opacity:1;
}


header .containner .menu-mobile nav ul li{
	font-weight:bold;
	font-size:13px;
	padding:5px 10px;
	
	
}
header .containner .menu-mobile nav ul li a{
	text-decoration:none;
	color:#ccc;
	text-transform:uppercase;
}
header .containner .menu-mobile nav ul li a:hover{
	text-decoration:none;
	color:lightblue;
	text-transform:uppercase;
	border-bottom:3px groove black;
	
}

/***/

/** Section**/

section.mosaico .containner .mosaico-single{
	width:calc(100% / 6);
	float:left;
	
	
}
section.mosaico .containner [class^="img-mosaico-single"]{
	width:100%;
	padding-top:100%;
	background:#ccc;
	border:4px solid white;
}



section.servicos .containner{
	max-width:900px;
	display:flex;
	align-items:center;
	position:relative;
	left:0;
	top:-60px;
}



/**IMGS**/ 
section.mosaico .containner .mosaico-single .img-mosaico-single1 {
	background-image:url(../img/img-1.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
section.mosaico .containner .mosaico-single .img-mosaico-single2 {
	background-image:url(../img/img-2.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
section.mosaico .containner .mosaico-single .img-mosaico-single3 {
	background-image:url(../img/img-3.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
section.mosaico .containner .mosaico-single .img-mosaico-single4 {
	background-image:url(../img/img-4.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
section.mosaico .containner .mosaico-single .img-mosaico-single5 {
	background-image:url(../img/img-5.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
section.mosaico .containner .mosaico-single .img-mosaico-single6 {
	background-image:url(../img/img-6.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
section.mosaico .containner .mosaico-single .img-mosaico-single7 {
	background-image:url(../img/img-7.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
section.mosaico .containner .mosaico-single .img-mosaico-single8 {
	background-image:url(../img/img-8.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
section.mosaico .containner .mosaico-single .img-mosaico-single9 {
	background-image:url(../img/img-9.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

section.mosaico .containner .mosaico-single .img-mosaico-single10 {
	background-image:url(../img/img-10.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
section.mosaico .containner .mosaico-single .img-mosaico-single11 {
	background-image:url(../img/img-11.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
section.mosaico .containner .mosaico-single .img-mosaico-single12 {
	background-image:url(../img/img-12.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}


/******/ 


section.servicos .containner .box-servicos{
	text-align:center;
	color:white;
	
	
}
section.servicos .containner .box-servicos h2{
	margin-bottom:8px;
	text-transform:uppercase;
	font-size:19px;
}
section.servicos .containner .box-servicos p{
	font-size:16px;
	margin-bottom:20px;
}
section.servicos .containner .box-servicos:nth-of-type(1){
	width:30%;
	padding:35px 1%;
	background-color: #576975;
	
}
section.servicos .containner .box-servicos:nth-of-type(2){
	width:40%;
	padding:50px 2%;
	background-color:#688293;
	background-image:none;
}

section.servicos .containner .box-servicos:nth-of-type(3){
	width:30%;
	padding:35px  1%;
	background-color:#576975;
	
}
section.servicos .containner .box-servicos{
	background-image:url("../img/icone_dente.png");
	background-size:18px 18px;
	background-position:50% 90%;
	background-repeat:no-repeat;
}

/** Perfil-containner**/


section.perfil-containner .perfil-wraper{
	width:100%;
	height:100%;
	padding: 0 20px;

}


section.perfil-containner .perfil-wraper .img-perfil{
	width:40%;
	float:left;
	padding-right: 20px;
	margin-bottom:80px;
}

.img-perfil img{
	width:100%;
	float:left;
	
}
section.perfil-containner .containner  .perfil-wraper .texto-perfil{
	float:right;
	width:50%;
	height:auto;
	
	
	
}
section.perfil-containner .containner .perfil-wraper .texto-perfil h2{
	margin-bottom:10px;
	color: #698293;
	font-size:20px;
}
section.perfil-containner .containner .perfil-wraper .texto-perfil p{
	color:#4b4b4b;
	
}

/****/



/**Section-Videos**/
	section.videos{
		width:100%;
		clear:both;
		padding: 0 20px;
	}

	section.videos .box-videos{
		width:calc(100% / 3);
		padding-top:calc(33.3% * 0.6);
		float:left;
		border:5px solid white;
		position:relative;
		top:0;
		left:0;

	}
	
	section.videos .box-videos .iframe{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-image:url(../img/img-video.png);
		background-position:center;
		background-size:100%;
		background-repeat:no-repeat;
	}

	section.tratamentos{
		width:100%;
		margin:60px 0;
		clear:both;
		padding-right:2%;
		padding-left:2%;
		
	}
	
	section.tratamentos .containner{
		padding-top:30px ;
		
	}
	
	section.tratamentos .containner > h2 {
		color:#698293;
		font-size:18px;
		text-transform:uppercase;
		text-align:center;
		padding:20px 0;
	}
	
	section.tratamentos .tratamentos-single{
		width:33.3%;
		float:left;
		padding:10px;
	}
	
	section.tratamentos .tratamentos-single > h2 {
		color:#737373;
		font-size:18px;
		padding:10px 0;
		
	}
	
	section.tratamentos .tratamentos-single > p{
		font-size:13px;
		color:#b4b4b4;
	}
	
	/**Depoimentos **/
	
	section.depoimentos{
		width:100%;
	}
	
	section.depoimentos .containner {
		max-width:500px;
		text-align:center;
	}
	section.depoimentos .containner > h2{
		text-align:center;
		font-size:18px;
		color:#576975;
		padding:40px 0;
	}
	section.depoimentos .containner quote {
		color:#b4b4b4;
		font-size:15px;
		display:inline-block
		
	}
	section.depoimentos .containner .depoimento-single {
		text-align:center;
	}

	section.depoimentos .depoimentos-single .nome-depoimento{
		padding:12px 0;
	}
	section.depoimentos .depoimentos-single .nome-depoimento span{
		display:inline-block;
		color:#b4b4b4;
		font-size:14px;
		position:relative;
		left:6px;
		top: 6px;
		vertical-align:top;
	}
	
	section.depoimentos .depoimentos-single .nome-depoimento img{
		width:32px;
		height:32px;
		border-radius:16px;
	}
	
	
	
	section.social{
		width:100%;
		margin-top:20px;
	}
	Section.social .instagran-chamada{
		width:100%;
		text-align:center;
		background:#98a5ae;
		padding:40px 0;
	}
	
	section.social .instagran-chamada p {
		font-size:14px;
		color:white;
		padding:10px 0;
		line-height:23px;
	}
	
	section.social .img-mosaico {
		width:100%;
		padding:10px 0;
	}
	section.social .img-mosaico .img-mosaico-single {
		width:calc(100% / 9);
		padding-top:calc(100% / 9);
		background:red;
		float:left;
		border-right:5px solid white;
	}
	
	section.social .img-mosaico .img-mosaico-single:nth-of-type(9){
		border-right:0;
		background-image:url(../img/img-12.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
	}
	/**IMG-MOSAICO**/
	
	section.social .img-mosaico .img-mosaico-single:nth-of-type(1){
		background-image:url(../img/img-1.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		
	}
		section.social .img-mosaico .img-mosaico-single:nth-of-type(2){
		background-image:url(../img/img-2.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		
	}
		section.social .img-mosaico .img-mosaico-single:nth-of-type(3){
		background-image:url(../img/img-8.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		
	}
		section.social .img-mosaico .img-mosaico-single:nth-of-type(6){
		background-image:url(../img/img-6.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		
	}
		section.social .img-mosaico .img-mosaico-single:nth-of-type(4){
		background-image:url(../img/img-4.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		
	}
		section.social .img-mosaico .img-mosaico-single:nth-of-type(5){
		background-image:url(../img/img-5.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		
	}
		section.social .img-mosaico .img-mosaico-single:nth-of-type(7){
		background-image:url(../img/img-7.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		
	}
		section.social .img-mosaico .img-mosaico-single:nth-of-type(8){
		background-image:url(../img/img-3.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		
	}
	/******/
	
	/**Redes-Socias**/
	
	section.social .facebook-social {
		width:100%;
		background-color:#576975;
		text-align:center;
		padding:35px 0;
	}
	
	section.social .facebook-social img{
		display:inline-block;
		padding:10px 0;
	}
	section.social .facebook-social p {
		color:white;
		font-size:14px;
		line-height:23px;
		padding:10px 0;

	}
	
	/****/
	
	/**Formulario**/
	
	section.formulario{
		width:100%;
		padding-top:80px;
		padding-left:2%;
		padding-right:2%;
	}
	
	section.formulario h2{
		font-size:18px;
		color:#698293;
		text-align:center;
		padding:10px 0;
		text-transform:uppercase;
	}
	
	section.formulario form{
		max-width:500px;
		margin:30px auto;
		
	}
	
	section.formulario form .form-wraper span{
		font-size:15px;
		color:#b4b4b4;
		display:block;
		padding-bottom:8px ;
	}
	section.formulario form .w100{
		width:100%;
		padding:10px 0;
	}
	section.formulario form .w50{
		width:50%;
		float:left;
		padding-right:10px;
		padding-bottom:5px;
		padding-top:5px;
	}
	section.formulario form .w50:nth-of-type(3){
		padding-right:0;
	}
	section.formulario form .w100 input[type=text]{
		width:100%;
		height:35px;
		border:1px solid #dadada;
		padding-left:9px;
		
	}
	
	section.formulario form .w50 input[type=email], section.formulario form .w50 input[type=tel]{
		width:100%;
		height:35px;
		border:1px solid #dadada;
		padding-left:9px;
		
	}
	
	section.formulario form .form-wraper textarea{
		width:100%;
		height:121px;
		border:1px solid #dadada;
		padding:9px;
		resize:none;
	}
	
	section.formulario form  .button-wraper{
		width:100%;
		text-align:center;
	}
	
	section.formulario form .button-wraper input[type=submit]{
		width:100px;
		height:35px;
		border:0;
		cursor:pointer;
		background:#688293;
		display:inline-block;
		color:white;
		font-weight:normal;
	}
	
/**RESPOSIVO**/
@media screen and (max-width: 1024px){
		section.social .img-mosaico {
		width:100%;
		padding:10px 0;
	}
	section.social .img-mosaico .img-mosaico-single {
		width:calc(100% / 6);
		padding-top:calc(100% / 6);
		background:red;
		float:left;
		border:5px solid white;
	}
	
	section.social .img-mosaico .img-mosaico-single:nth-of-type(1n + 7 ){
		display:none;
	}
}




@media screen and (max-width: 768px){
	
	header .containner .menu-desktop{
		display:none;
	}
	header .containner .menu-mobile{
		display:block;
		
	}
	section.servicos .containner{
		/**  max-width:900px;
		display:flex;
		align-items:center;
		position:relative;
		left:0;
		top:-60px;
		**/
		flex-direction:column;
	}
	
	section.servicos .containner .box-servicos:nth-of-type(1){
		width:80%;
		max-width:350px;
		padding:30px 4%;
	
	}
section.servicos .containner .box-servicos:nth-of-type(2){
		width:90%;
		max-width:400px;
		padding:40px 2%;
		background-color:#688293;
		background-image:none;
	}

section.servicos .containner .box-servicos:nth-of-type(3){
		width:80%;
		max-width:350px;
		padding:30px  4%;
	
	
	}
section.servicos .containner .box-servicos h2{
		font-size:17px;
	}
section.servicos .containner .box-servicos p{
		font-size:13px;
	}
	

section.perfil-containner .perfil-wraper{
	width:100%;
	height:100%;
	padding: 0 20px;

}


section.perfil-containner .perfil-wraper .img-perfil{
	width:100%;
	float:none;
	padding-right: 20px;
	margin-bottom:20px;
	text-align:center;
}

.img-perfil img{
	max-width:400px;
	float:none;
	display:inline-block;
	
}
section.perfil-containner .containner  .perfil-wraper .texto-perfil{
	float:none;
	width:100%;
	height:auto;
	
	
	
}

section.perfil-containner .containner  .perfil-wraper .texto-perfil {
		width:100%;
		padding:0 30px;
		display:inline-block;
		margin: 20px 0;
	
	}
	
section.perfil-containner .containner  .perfil-wraper .texto-perfil h2{
	text-align:center;
}
section.perfil-containner .containner  .perfil-wraper .texto-perfil p{
	text-align:justify;

}

	section.videos{
		width:100%;
		margin-top:-10px;
		padding: 10px 50px;
	
	}

	section.videos .box-videos{
		width:100%;
		padding-top:calc(100% * 0.6);
		float:none;
		border:5px solid white;
		position:relative;
		top:0;
		left:0;
	}
	
	
		section.social .img-mosaico .img-mosaico-single {
		width:calc(100% / 3 );
		padding-top:calc(100% / 3 );
		background:red;
		float:left;
		border:5px solid white;
	}
	
	section.social .img-mosaico .img-mosaico-single:nth-of-type(1n + 4 ){
		display:none;
	}
}

	
	

@media screen and (max-width: 580px){
		section.perfil-containner .perfil-wraper2 .img-perfil{
		width: 80%;
		padding-top:110%;
		
	
		}
		
		section.perfil-containner .containner  .perfil-wraper .texto-perfil h2{
		text-align:center;
		font-size:22px;
		}
		section.perfil-containner .containner  .perfil-wraper .texto-perfil p{
		text-align:justify;
		font-size:14px;

		}
		
	
		section.formulario form .w50{
			width:100%;
		}
	
}
/****/
